/* About root */
:root{--primary-text-color:#212121;
  --secondary-text-color:#757575;  
--accent-color:#2196F3 ;
--main-background-color:  #FFFFFF ;
--secondary-background-color: #F5F4FA;
--brand-color:#2F303A;
--hero-button-color:#188CE8;
--typical-margin:30px;
}

/* About body */
body {
font-family: 'Roboto', sans-serif;
color:var(--primary-text-color) ;
background-color: var(--main-background-color);
letter-spacing: 0.03em;
font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {margin: 0;
}
img {display: block;
max-width: 100%;
height: auto;
}
address {font-style: normal;}


/* About list */
.list {list-style: none;
padding-left: 0;
margin: 0;
}
/* About decorations */
.link {text-decoration: none;
    color: inherit; 
    }

/*About hidden  */
.is-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    
  }
  /* About header-container  */
  .studio-header {display: flex;
    border: 1px solid #ECECEC;
}
  .container {
      width: 1200px;
      margin:0 auto;
      padding-left: 15px;
      padding-right: 15px;
      outline: ;
  }
 
    /* About logo */
    .nav {display: flex;
        }
    .nav-logo {padding-top: 24px;
    padding-bottom: 25px;
display: flex;
}
    
.nav-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);

    
}
.nav-list {
display: flex;
margin-left: 93px;
align-items: center;}
.nav-list .nav-link:not(:last-child) {margin-right: 50px;}
    .nav-logo-accent { color:var(--accent-color);}
    .nav-link {padding-left: 50px;}
    .nav-link {font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
}
 .nav-link {padding-top: 32px;
    padding-bottom: 32px; 
     display:block;}
.nav-link {color: var(--primary-text-color);}
.nav-link:hover,
.nav-link:focus
.nav-list.nav-link.current {
     color: var(--accent-color);
 }
 .current { color: var(--accent-color);} 


/* About contacts */

.contacts {
display: flex;}
.contacts{
margin-left: auto;}

    
.contacts  {font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--accent-color);

}

    .contact-link { color: var(--secondary-text-color);}
    .contact-link:hover,
    .contact-link:focus {color: var(--accent-color);}
    .contact-mobile {padding-left:  50px;}
    .contact-mobile {font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--secondary-text-color);

}

    .contact-mobile { color:var(--secondary-text-color);}
    .contact-mobile:hover,
    .contact-mobile:focus {color:var(--accent-color);}

.contact-link, .contact-mobile {padding-top: 32px;
    padding-bottom: 32px; display: block}

 
 /* About portfolio buttons */
 
.portfolio-button {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--primary-text-color);
    cursor: pointer;}

    .portfolio-button {color:var(--primary-text-color);
         background-color: var (--secondary-background-color);}
    .portfolio-button:hover,
    .portfolio-button:focus{color: var (--main-background-color);
        background-color: var(--accent-color); 
    }
    
/* About hero */

.hero-content {background-color: var(--brand-color);}

.hero-content {padding: 200px 280px;
} 
    
.hero-title {text-align: center;
  margin-bottom:var(--typical-margin);
    
}

.hero-title { font-family: inherit;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--main-background-color);
    }
  
     
    /* About hero-button */
.hero-button 
 {font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
 color:var(--main-background-color);
 border: 1px solid transparent;
    }
 .hero-button {margin:0 auto;
    padding-top:10px ;
    padding-bottom: 10px;
display: block;}
  
 .hero-button { background-color: var(--accent-color);}
    .hero-button:hover,
    .hero-button:focus{
        background-color:  var(--hero-button-color);
        border: 1px solid transparent;
    }
   
/* About portfolio benefits */

.list-item {font-family:inherit;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--primary-text-color);}

/* About studio benefits */
.benefits-list.benefits-item:not(:last-child) {margin-right: 30px;}
.benefits-item { width: 370px;
    height: 294px;
    
    
margin-bottom: var(--typical-margin);}

.benefits-list {
padding-top: 94px;
padding-bottom: 94px;
}

.studio-benefits {

    padding-top: 94px;
    padding-bottom: 94px;
}
.studio-list {display: flex;
}

.studio-features {margin-left: var(--typical-margin);
margin-right: auto;}
 .studio-features {
     border: 1px solid #FFFFFF;}

.benefits-list {
display: flex;}
.benefits-item {
padding-left: 30px;}
.benefits-title {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    }
    
    /* About "p" Studio*/
    
.p-item {
    margin-top: 10px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: var(--secondary-text-color);
    }
    .p-item {width: 270px;
   padding-right: 30px;
   display: flex ;
     }
    /* About "p" Portfolio */
.p {font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    
    letter-spacing: 0.03em;
    
    color: var(--secondary-text-color);
    }

    /* About our company */
    
.company {font-family: inherit;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        
        color: var(--primary-text-color);}


        /*Portfolio button */
        
        .portfolio-button {font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 1.62;
            line-height: 26px;
            /* identical to box height, or 162% */
            
            letter-spacing: 0.03em;}
        
            .portfolio-button {color: var(--primary-text-color); background-color:var(--secondary-background-color);}
            .portfolio-button:hover,
            .portfolio-button:focus {color:var(--main-background-color);
                background-color:var(--accent-color); 
            }
        
        .button-list {display: flex;
        padding-top: 94px;
        padding-bottom: 56px;
        margin-right: 8px;
        justify-content: center;
       }
       .button-list.portfolio-button+.portfolio-button {margin-left: 8px;
    }
     
.portfolio-button {
    justify-content:space-between;
    padding-top:6px ;
padding-bottom: 6px;
display: block;
border: 1px solid transparent;}

/*Gallery list portfolio  */

.gallery {padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    
}
.gallery { font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: var(--primary-text-color);}

.gallery-list {
    margin-bottom: 20px;}
    .gallery-img {width:370px;
        margin-right: 30px;
        border: 1px solid #FFFFFF;
    }
.gallery-img:nth-child(3n) {margin-right: 0;}
    
  

/* Gallery item Portfolio */

.gallery-item {margin-bottom: 4px;}
.gallery-item {font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
letter-spacing: 0.03em;
color: var(--secondary-text-color);}


/* About company team Studio*/
.team {
    background-color: var(--secondary-background-color);}
.team { padding-top: 94px;
    padding-bottom: 94px;}
    .team-list {display: flex; text-align: center;}
    .card-set {padding-left: 30px;}
    .company {padding-bottom: 50px;}
.company-list {margin-top: 30px;}
.company-list {
    padding-top: inherit;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
/* identical to box height */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);}

   /* About company item Studio*/ 
        .company-item {margin-top: 10px;
        padding-bottom: 30px;}
    
        .company-item   {
             font-family: inherit;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
/* identical to box height */

letter-spacing: 0.03em;

color: var(--secondary-text-color);

    }

/* About footer-logo */
.adress {padding-top: 20px;
    padding-bottom: 60px;
}
.footer-logo {
    padding-top: 60px;
display: block;}
.footer-logo {font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:  var(--main-background-color);}

    .footer-logo { color: var(--main-background-color);}
    
.footer-logo-accent {color: var(--accent-color);}

/* About footer */
.footer{
    background-color:var(--brand-color);

}
.footer-adress {
padding-bottom: 60px;}
.footer-maps {font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height:1.71;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color:var(--main-background-color)} 
    .footer-maps:hover,
    .footer-maps:focus {color:var(--accent-color);}

    .footer-link {margin-bottom: 9px;}
    .footer-link {font-family: inherit;
        font-weight: 400;
        font-size: 14px;
        line-height: 2;
        /* or 171% */
        letter-spacing: 0.03em;
        color:rgba(255, 255, 255, 0.6);
    }    
    .footer-link:hover,
    .footer-link:focus {color: var(--accent-color);}

       .footer-phone {font-family: 'Roboto';
            font-weight: 400;
            font-size: 14px;
            line-height: 1.71px;
            /* or 171% */
            
            letter-spacing: 0.03em;
            color:rgba(255, 255, 255, 0.6);
        }     
            
        .footer-phone:hover,
        .footer-phone:focus {color: var(--accent-color);}     
        

        
      




    

    
        


 